html
{
	font-family:'Open Sans';
	background:url("froisse.jpg") no-repeat center fixed; 
	background-size: cover; 
}

div
{
	border : 2px solid red;
	margin-left : 75%;
}

ul
{
	list-style : none;
}

label
{
	display : inline;
}

input
{
	display : inline;
	margin-right : 10px;
	padding-right : 1px;
}



p
{
	color : black ;
}


nav
{
	background-color : #64A9D8;
	padding-left : 1em;
	padding-right : 1em;
	padding-bottom : 1px;
}

nav li
{
	background-color : white;
	border-bottom-right-radius : 1em;
	border-bottom-left-radius : 1em;
	display : inline;
	padding-right : 1em;
	padding-left : 1em;
	padding-bottom : 0.25em;
	margin-right : 1em;
}

h1
{	
	text-align : center;
	color : red;
}

h2
{
	color : white;
}


a
{
	text-decoration : none;
}

a:visited
{
	color : black;
}

#iframes
{
	display : inline;
}
iframe
{
	height:300px;
	width :1000px;
	margin-top: 20px;
	margin-bottom: 30px;

	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;

	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;

}