
@font-face {
    font-family: "CODE";
    src: url('font/CODE Light.otf');
}

html{
	background: url(img/bg.jpg) no-repeat center fixed; 
  	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
}

header{
	padding-top: 15px;
	text-align:center;
}
.main{
	font-family: "CODE";

}

.article{
	text-align: center;
}

.saisie{
	padding:10px 40px 10px 40px;
	margin: 0;
	border:1px solid white;
	display: inline-block;
	background-color: white;
	border-radius: 5px;
}

input[type=url]{
	margin: 0;
	font-family: sans-serif;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

input[type=button]{
	margin: 0;
	font-family: sans-serif;
	border-radius: none;
	padding: 10px;
	border: solid 1px #dcdcdc;
	
}

input[type=url]:focus {
	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
}